<div class="container"> 
   <p style="color:purple;  font-weight: bold; font-size: 30px; padding-bottom: 20px;">Matche details</p>


   <table class="styled-table">
      <tbody>
              <tr class="active-row">
              <td style="color: purple;" >Home Team:</td>
              <td>{{match.HomeTeam}}</td>
               </tr>
               <tr class="active-row">
                  <td style="color: purple;">Away Team:</td>
                  <td>{{match.AwayTeam}}</td>
              </tr>
              <tr class="active-row">
               <td style="color: purple;">Match Venue:</td>
               <td>{{match.MatchVenue}}</td>
           </tr>
             
        <tr class="active-row">
         <td style="color: purple;">Match Date:</td>
         <td>{{match.Date}}</td>
     </tr>

     <tr class="active-row">
      <td style="color: purple;">Main Referee:</td>
      <td>{{match.MainReferee}}</td>
  </tr>
  <tr class="active-row">
      <td style="color: purple;">Linesman 1:</td>
      <td>{{match.Linesman}}</td>
  </tr>
  <tr class="active-row">
      <td style="color: purple;">Linesman 2:</td>
      <td>{{match.Linesman2}}</td>
  </tr>
      </tbody>
  </table>




    <br>
    <p style="color:purple;  font-weight: bold; font-size: 27px; padding-bottom: 20px;">Reserve seats</p>

  <div style="display:inline-block;vertical-align:top;">
   <input class="larger" type="checkbox" [disabled] = "true"
   [checked]=false> 
</div>
<div style="display:inline-block;">
   <div>Vacant</div>
</div>
<br>
  <div style="display:inline-block;vertical-align:top;">
   <input class="larger" type="checkbox" [disabled] = "true"
   [checked]=true> 
</div>
<div style="display:inline-block;">
   <div>Reserved</div>
</div>


    <div class="grid-container">
    <div class="grid-item" *ngFor="let item of options">
      <input class="larger" type="checkbox" [disabled] = "checked(item)"
    
      (change)="onChange($event.target.checked, item)"
      [checked]="checked(item)"> {{item}}
    </div>
    </div>
    <br>{{selectednew.length}} items selected <br>    
    <h3>Selected seats</h3>
    {{selectednew | json}}
    <br>
    <br>

    <button class="button"   (click)="save()">Save</button>

    

<br>
 
<div id="formm" style="display: none;">
  <form  #myForm="ngForm"  (ngSubmit) = "submit(myForm)" action="/action_page.php">
   <label style="font-size: 15px;" >Enter your credit card number</label>
   <input  class="inputcard"  type="text" id="credit" ngModel name="credit" placeholder="Your credit card number">

   <label style="font-size: 15px;" for="lname">Enter your pin number</label>
   <input class="inputcard" type="password" id="pass" ngModel name="pass" placeholder="Your password" maxlength="4" size="4">

   <button  class="inputcard" >Submit </button>
 </form>
</div>

<div id="ticket" style="display: none;"> 
   Your ticket number is : {{ticketnumber}}
</div>

