table {
    width: 100%;
}

body {
    padding: 20px;
}

.btn-effect{
    margin: 5px;
}

.btn-effect:hover{
    background-color: rgb(4, 129, 129, 0.7);
    color: whitesmoke;
    transition: 0.3s;
}
