<div class="container">
    <p style="color:purple;  font-weight: bold; font-size: 30px; padding-bottom: 20px;">Matches</p>
    <table class="styled-table">
        <thead>
            <tr>
                <th scope="col">Home Team</th>
                <th scope="col">Away Team</th>
                <th scope="col"></th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
                <tr class="active-row"*ngFor="let match of allMatches">
                    <td>{{match.HomeTeam}}</td>
                    <td>{{match.AwayTeam}}</td>
                    <td><a [routerLink]="['/match', match.id]">View Match Details</a></td>
                    <td><button (click)="editMatch(match)" class="button button1">Edit</button> </td>
                    <td><button (click)="deleteMatch(match)"(click)="deleteMatch(match)" class="button button1">Delete</button> </td>
                </tr>
        </tbody>
    </table>
      
    <br>
    <form id ="formm"#myForm="ngForm">


        <div class="form-group">
            <label for="exampleInputEmail1">Home Team</label>
            <select type="number" [(ngModel)]="matchObject.HomeTeam" name="HomeTeam"  (change)="selected1()">
                <option id="Hometeam"*ngFor="let t of listTeamsHome" [ngValue]="t" >{{t}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Away Team</label>
            <select type="number" [(ngModel)]="matchObject.AwayTeam" name="AwayTeam" >
                <option hidden selected>Select Away team</option>
                <option *ngFor="let t of listTeamsAway"  [ngValue]="t" >{{t}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Match Venue</label>
            <select type="number" [(ngModel)]="matchObject.MatchVenue" name="MatchVenue" >
                <option hidden selected>Select one...</option>
                <option *ngFor="let staduim of AllStaduims" [ngValue]="staduim.name" >{{staduim.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Date</label>
            <input id="date" type="date" min="2021-01-20" max="2021-05-20" name="Date" [(ngModel)]="matchObject.Date" />
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Time</label>
            <input id="time" type="time" name="Time" [(ngModel)]="matchObject.Time" />
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">MainReferee</label>
            <input type="text" class="form-control" name="MainReferee" [(ngModel)]="matchObject.MainReferee">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Linesman1</label>
            <input type="text" class="form-control" name="Linesman" [(ngModel)]="matchObject.Linesman">
        </div>


        <div class="form-group">
            <label for="exampleInputPassword1">Linesman2</label>
            <input type="text" class="form-control" name="Linesman2" [(ngModel)]="matchObject.Linesman2">
        </div>

        <button class ="button"type="button"  (click)="addMatch(myForm,myForm.value)" *ngIf="!isEdit">
            Add</button>
        <button class ="button" type="button"  *ngIf="isEdit" (click)="updateMatch(myForm)">Edit</button>
    </form>

 

</div>